In [1]:
# UNDERSTANDING CONCEPT OF PROGRAMING
a = 5
b = 2
 
# output = 144

c1 = a * a #25
c2 = c1 * a #125
c3 = c1 + c2 # 150
c4 = b * b  # 4
c5 = c3 - c4 #146
c6 = c5 - b #144
print(c6)

144

In [2]:
# UNDERSTANDING CONCEPTS OF PROGRAMING
# ONE PROGRAM CAN WRITE IN MANY WAYS
c1 = a * b
c2 = c1 + b
c3 = c2 * c2
print(c3)

144

In [3]:
# PRINT IS USE TO PRINT THE VALUE
print(a)

5

In [4]:
# TYPE IS USE TO PRINT THE DATA TYPE OF THE VALUE
print(type(a))

<class 'int'>

In [6]:
# DATA TYPES
# PRINT INTERGER DATA TYPE
a = 67.8
print(type(a))

<class 'float'>

In [7]:
# PRINT BOOLEAN DATA TYPE
a = True
print(type(a))

<class 'bool'>

In [9]:
# PRINT STRING
a = "false"
print(type(a))

<class 'str'>

In [12]:
# USER INTERACTIVE PROGRAM 
a = input("number : ")
print(a)

number : 56
56

In [16]:
# just for understand the structure of python programs
# PROGRAM TO ADD TWO NUMBERS
# ASSIGNMENT 1

# input
a = input("Enter number 1 :")
b = input("Enter number 2 :")   

# process
result = int(a) + int(b)

# output
print("SUM",result)

Enter number 1 :67
Enter number 2 :567
SUM 634

In [17]:
# PROGRAM TO CONVERT TEMPERATURE FROM CELCIUS TO FARHENHEIT
# ASSIGNMENT 2
 
# INPUT
tc = input(" ENTER TEMPERATURE IN CELCIUS :")

# PROCESS

tf = float(tc) * 1.8 + 32

# OUTPUT
print("Temperature in farhenheit :" , tf)

 ENTER TEMPERATURE IN CELCIUS :45
Temperature in farhenheit : 113.0

In [18]:
# Operators
# arithmetic operator
a = 12
b = 5
c = a + b
print(c)

17

In [19]:
a

12

In [20]:
a - b

7

In [21]:
a * b

60

In [22]:
a / b

2.4

In [23]:
a % b # 12/5 # only quotient

2

In [24]:
a // b # output remainder

2

In [25]:
# relational operator
a > b

True

In [26]:
a < b

False

In [27]:
a >= b

True

In [28]:
a <= b

False

In [29]:
a == b

False

In [30]:
a != b

True

In [31]:
# logical operator
a > b and b < 10

True

In [32]:
a > b or a < b

True

In [33]:
a > b and not a < 10

True