In [1]:
# ASSIGNMENT 3
# PROGRAM TO PRINT THE COUNT OF VOWELS IN THE INPUT TEXT
#INPUT
text = input("enter a text: ")
# process
text = text.lower()
print('a-->', text.count("a"))
print('e-->', text.count("e"))
print('i-->', text.count("i"))
print('o-->', text.count("o"))
print('u-->', text.count("u"))

enter a text: thanks
a--> 1
e--> 0
i--> 0
o--> 0
u--> 0

In [9]:
# STRING MODIFICATION
ip = '129-76-34'
newip = ip.replace('-', '*')
ip

'129-76-34'

In [10]:
newip

'129*76*34'

In [11]:
text = 'mein khana kha rhi hu'
words = text.split()
words

['mein', 'khana', 'kha', 'rhi', 'hu']

In [12]:
 # string formatting
'MY NAME IS {} AND AGE IS {}'.format('dev','21')

'MY NAME IS dev AND AGE IS 21'

In [14]:
s = ' computer'
tt = s.translate({'p':'pp','t':'tt'})
tt

' computer'

In [15]:
tt = s.maketrans({'p':'pp','t':'tt'})
tt

{112: 'pp', 116: 'tt'}

In [16]:
s.translate(tt)

' compputter'

In [18]:
s1 = 'pushkar'
s1.translate(tt)

'ppushkar'

In [19]:
# ASSIGNMENT 4
# GIVE A COMMA SEPARATED NUMBERIC VALUE
# CALCULATE HIKE VALUE
value = '12,56,23'
hike = '17%''
# calculate the hiked value
newvalue = ?
print(newvalue)

SyntaxError: invalid syntax (721979481.py, line 5)

In [2]:
# EXCERCISE 1
# loop
# write a program to determine if the result was positive, negative or zero
# after substracting two numbers
# input
a = int(input("enter no. one :"))
b = int(input("enter no. two :"))
# process
res = a - b
print('diff:',abs(a-b))
if (res > 0):
    print('postive')
elif (res < 0):
    print('negative')
else:
    print("zero")

enter no. one :67
enter no. two :78
diff: 11
negative

In [ ]:
# list
L = ["RED"]