In [28]:
'''
name
age
company
salary
tax
hike

printinfo, calctax, calchike

'''
# Class variable
class employee:
    empCount = 0
    
# data 
def __init__(self,name,age,company,salary,tax,hike):
    self.name = name
    self.age = age
    self.company = company
    self.salary = salary
    self.tax = 0
    self.hike = 0
    employee.empCount += 1
# methods

def printinfo(self):
    print("NAME  :", self.name)
    print("AGE   :", self.age)
    print("COMPANY :",self.company)
    print("-----------------------------------------")
    print("SALARY :",self.salary)
    print("TAX  :",self.tax)
    print("-----------------------------------------")
    print("NET SALARY :",self.salary - self.tax)

def calctax(self, taxpct):
    self.tax = self.salary * (taxpct/100)
    
def calchike(self, hikepct):
    self.salary = self.salary + self.salary * (hikepct/100)
    
def setsalary(self,salary) :
    pass


#_-----------------------------------------------



emp = employee("Sita", 34, "Infosys", 15000)
emp.printinfo()
print()
emp.calctax(17)
emp.printinfo()
print()
emp.calchike(10)
emp.calctax(17)
emp.printinfo()

emp1 = employee("Seema", 23, "Infosys", 20000)
emp2 = employee("Ashu", 27, "Infosys", 25000)

print("number of employees:", emp.empCount)

TypeError: employee() takes no arguments

In [22]:
# creating class
class Myclass:
    x  = 8
print(Myclass)

<class '__main__.Myclass'>

In [27]:
# self is used to access variables that belongs to the class
# create class
class student:
#data

    def __init__(self,name,age):
        self.name = name
        self.age = age
# methods        
p = student("tushar",21)
p1 = student("nilesh",20)
print(p.name)
print(p1.name)
print(p.age)
print(p1.age)

tushar
nilesh
21
20