In [11]:
# ASSIGNMENT - 4
# SOLUTION
#input
value = "12,56,23"
# process

new_value = value.replace(',', '')
new_value=int(new_value)
print(new_value)

print("salary is : ",new_value)
hike = new_value + (new_value * 17/100)
print(hike)

125623
salary is :  125623
146978.91

In [5]:
#ASSIGNMENT - 5
#PROGRAM TO GIVE MOVIE RECOMMENDATION
# input
MOVIE_1 = "KASHMIR FILES"
MOVIE_2 = "DISNEY"
MOVIE_3 = "ANA_BELLA"
age = int(input("Enter an Age :"))
# process
if (age >= 18):
    print('MOVIE_1 :', MOVIE_1)
elif (age <= 18): 
    print('MOVIE_2 :', MOVIE_2)
else:
    print('MOVIE_3 :', MOVIE_3)

Enter an Age :56
MOVIE_1 : KASHMIR FILES

In [12]:
#ASSIGNMENT - 6
# Write a program to reverse the words in a text
# input
text = input("Enter a text: ")
text1 = text[::-1]
print(text1)

Enter a text: hellllooooooo
ooooooolllleh

In [13]:
# list
l = ['yellow','blue','red','brown']
l

['yellow', 'blue', 'red', 'brown']

In [14]:
l[0]

'yellow'

In [15]:
l[-1]

'brown'

In [16]:
l[0]='black'
l

['black', 'blue', 'red', 'brown']

In [18]:
l[1][2]

'u'

In [19]:
l[-2][-2]

'e'

In [20]:
l[::2]

['black', 'red']

In [21]:
l[::-1]

['brown', 'red', 'blue', 'black']

In [22]:
[1,2,3,4]+[5,6,7]

[1, 2, 3, 4, 5, 6, 7]

In [23]:
'red' in l

True

In [24]:
'pink' in l

False

In [25]:
len(l)

4

In [26]:
del l

In [27]:
l # we deleted in upper cell

NameError: name 'l' is not defined

In [28]:
#modifying list
L  = ['orange','mango','guava']
L.append('banana')
L

['orange', 'mango', 'guava', 'banana']

In [32]:
L.insert(0,'apple')
L

['apple',
 'orange',
 'apple',
 'mango',
 'guava',
 'banana',
 'grapes',
 'kiwi',
 'grapes',
 'kiwi']

In [38]:
L1 = ['grapes']
L.extend(L1)
L

['apple',
 'orange',
 'apple',
 'mango',
 'guava',
 'banana',
 'grapes',
 'kiwi',
 'grapes',
 'kiwi',
 'grapes',
 'kiwi',
 'cherry',
 'grapes',
 'grapes',
 'grapes']

In [39]:
L2 = ['Bird','Animals','Reptile']
L2

['Bird', 'Animals', 'Reptile']

In [41]:
L2.pop()

'Reptile'

In [42]:
L2

['Bird', 'Animals']

In [43]:
L2.pop(1)
L2

['Bird']

In [1]:
L3=['harry','cherry','garry','marry','marry']
L3

['harry', 'cherry', 'garry', 'marry', 'marry']

In [46]:
L3.remove('garry')
L3

['harry', 'cherry', 'marry']

In [47]:
L3.index('cherry')

1

In [2]:
L3.count('marry')

2

In [3]:
sorted(L3)

['cherry', 'garry', 'harry', 'marry', 'marry']

In [5]:
L3.reverse()
L3

['harry', 'cherry', 'garry', 'marry', 'marry']

In [6]:
# iterating on a list
for item in L3:
    print(item)

harry
cherry
garry
marry
marry

In [9]:
for item in L3:
    print(item,'-----', len(item))

harry ----- 5
cherry ----- 6
garry ----- 5
marry ----- 5
marry ----- 5

In [10]:
L = [1,2,3,4,5,6,7,9]
max(L)

9

In [11]:
min(L)

1

In [12]:
sum(L)

37

In [13]:
any(L)

True

In [14]:
all(L)

True

In [15]:
# generate array of number
range(10)
range(0,10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(30,90))

[30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89]

In [17]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
# ASSIGNMENT - 7
# Program to check if a number is prime or not
num = 67
  
# If given number is greater than 1
number = int(input("Enter any number: "))

# prime number is always greater than 1
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print(number, "is not a prime number")
            break
    else:
        print(number, "is a prime number")

# if the entered number is less than or equal to 1
# then it is not prime number
else:
    print(number, "is not a prime number")

Enter any number: 46
46 is not a prime number

In [24]:
# EXCERCISE - 2
# PRINT ALL FACTORS OF A NUMBER
'''INPUT 10
OUTPUT 1,2,5,10
'''
#INPUT
n = int(input("Enter a number: "))
# process
factors = []
for i in range(1,n+1): #1,2,3,4 
 if(n%i == 0 ):
   factors.append(i) #1,2,5,10
#output
print(factors)

Enter a number: 10
[1, 2, 5, 10]

In [1]:
# program to print half phyramid using *
# output
"""
*
* *
* * *
* * * *
* * * * *
"""
rows = 5
for i in range(0, rows):
#loop for each column
    for j in range(0, i + 1):
# print star
        print("*", end=' ')
# new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [3]:
# program to print the half triangle in other side
# number of rows
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [7]:
# program rto print reverse triangle
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [6]:
#program to print half reverse triangle
rows = 5
for i in range(rows + 1, 0, -1):
    # nested reverse loop
    for j in range(0, i - 1):
        # display star
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [9]:
 #program to print reverse half triangle on other side
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * *
  * * * *
    * * *
      * *
        *

In [11]:
#program to print equilateral pattern of star
print("Print equilateral triangle Pyramid using * ")
# printing full Triangle pyramid using stars
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Print equilateral triangle Pyramid using *
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [12]:
#program to print two pyramids of star
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
#program to print right star pattern of star
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*