In [1]:
# PYTHON FEATURES
# LAMBDA EXPRESSIONS
# It's an expression that can produce a function object
f = lambda a,b : a+b #a,c : a+c  #1,2 : 1+2
f

In [2]:
f(100,250)

350

In [3]:
f([1,23,45],[12,34,567])
#list1 + list2 = list

[1, 23, 45, 12, 34, 567]

In [4]:
f(['abc','def'],['ghi','jkl'])

['abc', 'def', 'ghi', 'jkl']

In [5]:
#conversion of cm into inches using lambda
cm2inches = lambda cm:cm/2.9
cm2inches

In [6]:
cm2inches(100)

34.48275862068966

In [7]:
cm2inches(56)

28.0

In [3]:
L = ['red','green','blue','yellow','pink']

In [4]:
L.sort() 
L  #ascending order

['blue', 'green', 'pink', 'red', 'yellow']

In [4]:
L

['blue', 'green', 'pink', 'red', 'yellow']

In [22]:
#------------------------------------------map()
T = [12,45,67,34,67] #LIST OF TEMPERATURES
F = [] #BLANK LIST
for t in T:
    tf = t*1.8+32   #CONVERT INTO FARHEIN
    F.append(tf)  #USE APPEND TO ADD ELEMENTS

In [23]:
F

[53.6, 113.0, 152.60000000000002, 93.2, 152.60000000000002]

In [14]:
T

[12, 45, 67, 34, 67]

In [18]:
T2=[34,56,78,56]   #map= each item in iterable
F1 = map(lambda t : t * 1.8+32,T2)
list(F1)

[93.2, 132.8, 172.4, 132.8]

In [28]:
L = [12,34,56,78]
L2 = map(lambda l : l * 2,L)
list(L2)

[24, 68, 112, 156]

In [36]:
# ASSIGNMENT 8
# print the elements of the given list divided by 2 by using map function
y=[23,56,78,34]
L3 = map(lambda l : l/2,y)
list(L3)

[11.5, 28.0, 39.0, 17.0]

In [58]:
# ---------------------------filter()
#random =  to print random values
import random
random.randint(1,100)

49

In [55]:
random.randint(2,10)

7

In [66]:
E = []  #blank list
for i in range(6):
    E.append(random.randint(1,15))

In [67]:
E

[1, 13, 4, 9, 2, 13]

In [ ]:
#ASSINGNMENT - 9
#PRINT A RANDOM NUMBER LIST BETWEEN 25 TO 50