In [1]:
# is used for COMMENTS

In [2]:
# variale -  to store values
a = 4
print(a)  # print is use to print values

4

In [4]:
# data types - categories of data
# int - integer
a = 7
print(a)
type(a)  # use to know khow the data type

7

int

In [6]:
# float = decimal values
a = 8.9
print(a)
type(a)

8.9

float

In [7]:
# str = to type character
a = "dev"
print(a)
type(a)

dev

str

In [10]:
# type casting - conversion of data type
x = float(1)
print(x)
y = int(7.88989)
print(y)

1.0
7

In [11]:
# strings
print("sunny")

sunny

In [17]:
# indexing 
a = "helloworld"
print(a[1])

e

In [15]:
for i in "helloworld":
    print(i)

h
e
l
l
o
w
o
r
l
d

In [18]:
print(len(a)) # to get length

10

In [19]:
b = "hello world"
print(b[3:7])

lo w

In [20]:
print(b[:7])

hello w

In [21]:
print(b[2:])

llo world

In [22]:
print(b[-9:-2])

llo wor

In [23]:
print(b.upper())

HELLO WORLD

In [24]:
print(b.lower())

hello world

In [27]:
print(b.replace("h","j"))

jello world

In [28]:
print(b.split(","))

['hello world']

In [29]:
#concatanation
a = "hello"
b = "world"
a+b

'helloworld'

In [31]:
age = 18
line = "my name is dev, i am" + age
print(line)

TypeError: can only concatenate str (not "int") to str

In [32]:
age = 56
line = "my name is sandy, i am {}"
print(line.format(age))

my name is sandy, i am 56

In [34]:
# operators
# arithmetic operators
x=12
y =34
x + y

46

In [35]:
x - y

-22

In [36]:
x * y

408

In [37]:
x / y

0.35294117647058826

In [38]:
x % y

12

In [39]:
x ** y

4922235242952026704037113243122008064

In [40]:
x // y

0

In [42]:
# assignment operators
x = 6
print(x)

6

In [43]:
x = 6
x += 4 # x = x + 4
print(x)

10

In [45]:
x = 6
x -= 4
print(x)

2

In [47]:
# comparison operators
x = 67
y = 56
print(x==y)

False

In [48]:
print(x>y)

True

In [49]:
print(x<y)

False

In [50]:
# list = ordered,changeable and allow duplicate []
list = ["apple","mango","cherry"]
print(list)

['apple', 'mango', 'cherry']

In [51]:
print(len(list))

3

In [52]:
print(list[1])

mango

In [55]:
print(list[:2])

['apple', 'mango']

In [56]:
list[-1]="blueberry"
print(list)

['apple', 'mango', 'blueberry']

In [57]:
list.insert(1, "watermelon")
print(list)

['apple', 'watermelon', 'mango', 'blueberry']

In [58]:
list.append("orange")
print(list)

['apple', 'watermelon', 'mango', 'blueberry', 'orange']

In [59]:
list.remove("mango")
print(list)

['apple', 'watermelon', 'blueberry', 'orange']

In [60]:
list.sort()
print(list)

['apple', 'blueberry', 'orange', 'watermelon']

In [61]:
# tuples = ordered , unchangeable , allow duplicate, ()
tuple = ("pink","red","blue","orange")
print(tuple)

('pink', 'red', 'blue', 'orange')

In [63]:
print(len(tuple))

4

In [64]:
print(tuple[2])

blue

In [65]:
tuple[1] = 'black'
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [71]:
# dictionary = ordered,changeable, not allow duplicate {}
dic = {'1':'dev','2':'harry'}
print(dic)

{'1': 'dev', '2': 'harry'}

In [74]:
# if else condition
a  =677
b = 67
if a > b:
    print("b is greater than a")
else:
    print(" a is greater than b")

b is greater than a

In [75]:
# if else condition
a  =677
b = 67
if a > b:
    print("b is greater than a")
elif a == b:
    print(" a is equal to b")
else:
    print(" a is greater than b")

b is greater than a

In [83]:
# while 
i = 1
while i < 6:
 print(i)
 i+=i

1
2
4

In [84]:
# functions = block of code which only runs when it is called
def func():
    print("hello")
func()

hello

In [86]:
# lambda function
x = lambda a,b : a * b
print(x(5,6))

30